.container {
  max-width: 100rem;
  margin: 0 auto;
}

.header {
  border-radius: 4px;
}

.logo {
  max-width: 10rem;
  width: 100%;
  margin: auto;
}

.menu-container {
  margin: auto;
}

.menu {
  text-align: center;
  display: block;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 4px;
  height: fit-content;
  outline: 1px solid #3f6660;
  color: #3f6660;
  text-decoration: none;
  width: fit-content;
  margin: 1rem auto;
}

.menu:hover {
  background-color: rgba(139, 223, 131, 0.362);
}

.product-img {
  width: 70%;
  outline: 1px solid #8bdf83;
  border-radius: 4px;
  margin-top: 1.5rem;
}

body {
  text-align: center;
  font-size: 1rem;
  font-display: optional;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #3f6660;
  background-color: #fefffe;
}

p,
a,
h1,
h2 {
  letter-spacing: 0.06rem;
}

.grid {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1.5rem;
  margin: auto;
}

.card {
  background-color: #3f6660;
  color: #fefffe;
  border-radius: 4px;
  text-decoration: none;
}

.elevation:hover {
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
    rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
}

.card > h2,
.card > p {
  text-align: left;
  margin-left: 2.5rem;
  font-size: 0.9rem;
  margin-right: 2.5rem;
}

@media screen and (min-width: 30rem) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .menu {
    color: #fefffe;
    display: inline;
    outline-color: #fefffe;
    margin: 0;
    width: auto;
  }
  .header {
    display: grid;
    background-color: #3f6660;
    margin-bottom: 1rem;
    padding: 2rem;
    grid-template-columns: 6fr 2fr 2fr;
    grid-gap: 1.5rem;
    align-items: center;
  }
  .logo {
    margin: 0;
  }
}

@media screen and (min-width: 40rem) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.featureimg {
  max-width: 100%;
  outline: 1px solid white;
  border-radius: 4px;
  margin-top: 1.5rem;
}

.card {
  background-color: #3f6660;
  color: #fefffe;
  border-radius: 4px;
  padding-block: 1rem;
}

.button {
  background-color: #3f6660;
  color: #fefffe;
  border-radius: 4px;
  padding: 1rem 0;
  display: inline-block;
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.grids {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1.5rem;
  text-align: left;
}

@media screen and (min-width: 30rem) {
  .grids {
    grid-template-columns: 1fr 1fr;
  }
  .menu {
    color: #fefffe;
    display: inline;
    outline-color: #fefffe;
    margin: 0;
    width: auto;
  }
  .header {
    display: grid;
    background-color: #3f6660;
    margin-bottom: 1rem;
    padding: 2rem;
    grid-template-columns: 6fr 2fr 2fr;
    grid-gap: 1.5rem;
    align-items: center;
  }
  .logo {
    margin: 0;
  }
  .buynow {
    padding: 1rem;
    width: auto;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media screen and (min-width: 60rem) {
  .grids {
    grid-template-columns: 1fr 3fr;
  }
}

.title {
  font-size: 4rem;
}

.form-label {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  display: block;
  text-align: left;
}

.contactus {
  background: #f4e285;
  border: none;
  padding: 1.5rem 2rem;
  margin: auto;
  font-size: 1rem;
  border-radius: 0.5rem;
  transition: background-color 150ms;
  cursor: pointer;
}

.form-control {
  border-radius: 0.5rem;
  border: 2px solid #999;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 0.08rem;
  margin-bottom: 2rem;
  display: block;
  width: 94%;
}

.message {
  height: 6rem;
  margin-bottom: 1rem;
}

.contactgrid {
  text-align: left;
  display: grid;
  grid-gap: 2rem;
}

@media screen and (min-width: 30rem) {
  .contactgrid {
    grid-template-columns: 3fr 2fr;
  }
}

@media screen and (min-width: 60rem) {
  .contactgrid {
    grid-template-columns: 3fr 1fr;
  }
}
